/project/target/
/.idea/
/project/project
/target
/.vscode
/processor6502.save
/config2.save
/test1.asm
/Processor6502-3.log
/Processor6502-token.log
/quicktest.asm
/quicktest2.asm
/code.tock
/ldx_addressiming_mode-tests.asm
